<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Appenders>
      <!--<RandomAccessFile name="RandomAccessFile" fileName="/ssd/counters.log" immediateFlush="false" append="false">-->
        <!--<PatternLayout>-->
          <!--<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>-->
        <!--</PatternLayout>-->
      <!--</RandomAccessFile>-->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%n%-5p[%d{dd.MM.yyyy HH:mm:ss}] %m"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="DEBUG" includeLocation="false">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>